/* 版心 */
.container{
    width: 1190px;
    margin: 0 auto;
}
/* #region顶部导航条start */
.topbar{
    height: 30px;
    background-color: #ececec;
}
.welcome{
    line-height: 30px;
    height: 30px;
    font-size: 0;
}
.welcome span,.welcome a{
    font-size: 12px;
}
.welcome .hello{
    margin-right: 28px;
}
.welcome .login{
    padding-right: 10px;
    border-right: 1px solid #666
}
.welcome .register{
    padding-left: 10px;
}
.topbar-nav .list li {
    float: left;
    line-height: 30px;
}
.topbar-nav .list li a{
    padding:0  15px;
    border-right: 1px solid #666;
}
.topbar-nav .list li:first-child a{
    padding-left: 0;
}
.topbar-nav .list li:last-child a{
    padding-right: 0;
    border: 0;
}
/* #endregion顶部导航条end */
/* #region头部搜索栏 */
.header{
    height: 120px;
}
.header .search form{
    margin-top: 42px;
    font-size: 0;
}
.header .search input{
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D
}
.header .search button{
    width: 80px;
    height: 36px;
    border: 1px solid #DD302D;
    background-color:#DD302D ;
    vertical-align: top;
    background-image: url('../../20尚品汇-顶部导航栏/images/serch_icon.png');
    background-repeat: no-repeat;
    background-position: 26px 6px;
}
/* #endregion头部搜索栏 */
/* #region主导航start */
.main-nav{
    height: 48px;
    border-bottom: 1px solid #DD302D;
}
.all-types{
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    color:white;
    line-height: 48px;
    font-size: 16px;
    text-align: center;
}
.main-nav-list{
    height: 48px;
    line-height: 48px;
}
.main-nav-list li{
    float:left;
    margin:0 10px;
    font-size: 16px;
}
/* #endregion主导航end */
/* #region内容区start */
.main-content{
    margin-top: 10px;
}
.main-content .side-nav{
    width: 190px;
    height: 458px;
    background-color:#F4F4F4;
    position: relative;
}
.main-content .side-nav li{
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;

}
.main-content .side-nav li:hover{
    background-color: #DD302D;
}
.main-content .side-nav li:hover>a{
    color: #F4F4F4 ;
}
.second-menu{
    width: 680px;
    height: 458px;
    background-color: #F4F4F4;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}
.main-content .side-nav li:hover .second-menu{
    display: block;
}
.second-menu dl{
    height: 36px;
    line-height: 36px;
}
.second-menu dl:first-child{
    margin-top: 10px;
}
.second-menu dt{
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}
.second-menu dd{
    float: left;
}
.second-menu dd a{
    padding: 0 10px;
    border-left: 1px solid #666;
}



.main-content .banner{
    width: 690px;
    height: 458px;
    margin:0 10px;
}
.main-content .side-other{
    width: 290px;
    height: 458px;
}
.side-other .message{
    width: 260px;
    height: 156px;
    border: 1px solid #d9d9d9;
    padding: 0 14px;
}
.side-other .message .title{
    height: 38px;
    line-height: 38px;
    border: 1 solid #d9d9d9;
}
.side-other .message .title span{
    font-size: 14px;
}
.side-other .message .title a{
    font-size: 12px;
}

.side-other  .msg-list li{
    height: 26px;
    line-height: 26px;
}

.side-other .other-nav{
    margin-top: 10px;
    width: 290px;
    height: 290px;
    overflow: hidden;
}
.other-nav-list:first-child{
    margin-top: 16px;
}
.other-nav-list:nth-child(2){
    margin:17px 0 ;
}
.other-nav-list li{
    width: 48px;
    height: 70px;
    float:left;
    margin: 0 11px;
    text-align: center;
    cursor: pointer;
}
.other-nav-list li:first-child{
    margin-left: 16px;
}
.other-nav-list .picture{
    height: 48px;
    width:48px;
    background-image: url('../../20尚品汇-顶部导航栏/images/精灵图-侧边功能.png');
}
.other-nav-list:nth-child(1) li:nth-child(1) .picture{
    background-position: 0 0;
}
.other-nav-list:nth-child(1) li:nth-child(2) .picture{
    background-position: -48px 0;
}
.other-nav-list:nth-child(1) li:nth-child(3) .picture{
    background-position: -96px 0;
}
.other-nav-list:nth-child(1) li:nth-child(4) .picture{
    background-position: -144px 0;
}

.other-nav-list:nth-child(2) li:nth-child(1) .picture{
    background-position: -0 -48px;
}
.other-nav-list:nth-child(2) li:nth-child(2) .picture{
    background-position: -48px -48px;
}
.other-nav-list:nth-child(2) li:nth-child(3) .picture{
    background-position: -96px -48px;
}
.other-nav-list:nth-child(2) li:nth-child(4) .picture{
    background-position: -144px -48px;
}

.other-nav-list:nth-child(3) li:nth-child(1) .picture{
    background-position: -0 -96px;
}
.other-nav-list:nth-child(3) li:nth-child(2) .picture{
    background-position: -48px -96px;
}
.other-nav-list:nth-child(3) li:nth-child(3) .picture{
    background-position: -96px -96px;
}
.other-nav-list:nth-child(3) li:nth-child(4) .picture{
    background-position: -144px -96px;
}
/* #endregion内容区end */
/* #region秒杀区start */
.seckill{
    margin-top: 10px;
}
.seckill img{
    float: left;
    margin-right: 11px;
    cursor: pointer;
}
.seckill img:last-child{
    margin-right: 0;
}
/* #endregion秒杀区end */
/* #region楼层start */
.floor{
    margin-top: 48px;
}
.floor-name{
    font-size: 20px;
}
.floor-nav{
    height: 30px;
    line-height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #dd302D;
}
.floor-nav-list li{
    float: left;
    font-size: 14px;

}
.floor-nav-list li a{
    padding: 0 10px;
    border-right: 1px solid #666;
}
.floor-nav-list li:first-child a{
    padding-left: 0;
}
.floor-nav-list li:last-child a{
    padding-right: 0;
    border: 0;
}
.floor-info .item{
    float: left;
}
.floor-info .item1{
    width: 230px;
    height: 432px;
    background-color: skyblue;
}
.floor-info .item2{
    width: 340px;
    height: 432px;
    background-color:hotpink;
}
.floor-info .item3{
    width: 206px;
    height: 432px;
    background-color: rgb(145, 240, 21);
    border-right: 1px solid #e2e2e2; 
}
.floor-info .item4{
    width: 200px;
    height: 432px;
    background-color: rgb(228, 235, 135);
    border-right: 1px solid #e2e2e2; 
}
.floor-info .item5{
    width: 200px;
    height: 432px;
    background-color: rgb(235, 167, 135);
}
/* #endregion楼层end */